

.notif {
    .font-size(@font-size-medium);
    text-align: center;
    padding: 1.3rem;
    font-family: @sans-serif-font-family;
    margin-bottom: 4px;
    border-radius: 0;
    opacity: 0.85;
}

.notif--danger {
	background-color: @warning;
}

.notif--info {
	background-color: @info;
}

.notif--success {
	background-color: @success;
}